h4 {
  text-transform: uppercase;
  text-align: center;
}

#paragraph-img {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}
#about-paragraph {
  text-transform: none;
  text-align: left;
  word-wrap: break-word;
  font-size: 0.8rem;
  line-height: normal;
  letter-spacing: normal;
}

strong {
  font-size: 1.5rem;
}

#img-gallery {
  display: flex;
  flex-direction: row;
}

.about-img {
  display: block;
  width: 50%;
  padding: 1rem;
}
.in-para-img {
  display: block;
  width: 100%;
}
